<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Práctica 1</title>
</head>
<body>
    <h1>Practica 1</h1>
    <h2>Elija una de las siguientes opciones:</h2>
    <a href="busca_mayor">Mayor de 10 números</a> <br>
    <a href="repeticiones_input">Input en un text area</a> <br>
    <a href="solucionador_cuadraticas">Resolución de ecuaciones cuadraticas</a>
</body>
</html>